<h1>To do List</h1>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= link_to todo.name, list_to_do_list_path(todo.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "New To do", new_list_to_do_list_path%>
<%= link_to "Back", list_index_path%>

