<h1>To do List</h1>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= link_to todo.name, todo %>
      <%= link_to 'Edit', edit_to_do_list_path(todo)%>
      <%= link_to 'Delete', to_do_list_path(todo), method: :delete, data: {confirm: "Você tem certeza?"}%>
    </li>
  <% end %>
</ul>

<%= link_to "New To do", new_to_do_list_path%>

